* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}

nav .logo {
    font-size: 22px;
    font-weight: bold;
    color: purple;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background: linear-gradient(135deg, #4b0082, #a020f0);
    color: white;
    position: relative;
    overflow: hidden;
}

/* Decorative Circle */

.hero::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(255,255,255,0.05);
    border-radius: 50px;
    top: -150px;
    right: -150px;
}

.hero-left {
    max-width: 500px;
}

.hero-left h1 {
    font-size: 48px;
}

.hero-left h2 {
    font-family: cursive;
    font-weight: lighter;
    margin-bottom: 20px;
}

.hero-left p {
    margin-bottom: 30px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 15px;
}

botton {
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.primary {
    background: white;
    color: purple;
}

.primary:hover {
    background: black;
    color: white;
}

.secondary {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.secondary:hover {
    background: white;
    color: purple;
}

.hero-right img {
    width: 450px;
    animation: float 4s ease-in-out infinite;
}

/* Floating Animation */
@keyframes float{
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

/* Responsive */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }

    .hero-right img {
        width: 300px;
        margin-top: 30px;
    }
}